<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeh0qXH_cS0Co8iejJMWscj4A2Cg6cwLE</string>
	<key>GCM_SENDER_ID</key>
	<string>149755248205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daily-egg.egg-daily</string>
	<key>PROJECT_ID</key>
	<string>drop-cost-new</string>
	<key>STORAGE_BUCKET</key>
	<string>drop-cost-new.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149755248205:ios:2a54988651098b6860a604</string>
</dict>
</plist>